name: Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: oracle
          java-version: 21
          cache: gradle

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 make meson nasm autoconf automake libtool
          sudo pip3 install Jinja2
          sudo pip3 install jsonschema

      - name: Install Android NDK
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: 'r29'
          add-to-path: 'false'

      - name: Set ANDROID_NDK_HOME
        run: echo "ANDROID_NDK_HOME=${{ steps.setup-ndk.outputs.ndk-path }}" >> $GITHUB_ENV

      - name: prep
        run: |
          chmod +x ./gradlew
          chmod +x ./mpv-build

      - name: Build CLI
        run: ./gradlew cli:jar

      - name: Build for arm32
        run: ./mpv-build --libraries=all --targets=arm32

      - name: Build for arm64
        run: ./mpv-build --libraries=all --targets=arm64

      - name: Build for x86
        run: ./mpv-build --libraries=all --targets=x86

      - name: Build for x86_64
        run: ./mpv-build --libraries=all --targets=x86_64

