name: Release

on:
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: oracle
          java-version: 23
          cache: gradle

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 make meson nasm autoconf automake libtool
          sudo pip3 install Jinja2
          sudo pip3 install jsonschema

      - name: Install Android NDK
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: 'r29'
          add-to-path: 'false'

      - name: Set ANDROID_NDK_HOME
        run: echo "ANDROID_NDK_HOME=${{ steps.setup-ndk.outputs.ndk-path }}" >> $GITHUB_ENV

      - name: prep
        run: |
          chmod +x ./gradlew
          chmod +x ./mpv-build

      - name: Build CLI
        run: ./gradlew cli:jar

      - name: Build for arm32
        run: ./mpv-build --libraries=all --targets=arm32

      - name: Build for arm64
        run: ./mpv-build --libraries=all --targets=arm64

      - name: Build for x86
        run: ./mpv-build --libraries=all --targets=x86

      - name: Build for x86_64
        run: ./mpv-build --libraries=all --targets=x86_64

      - name: Create release artifacts
        run: ./mpv-build --bundle-artifacts

      - name: Extract version
        id: get_version
        run: |
          VERSION=$(./mpv-build --print-version)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Extract dependencies versions
        id: get_dependencies_version
        run: |
          DEPS_VERSIONS=$(./mpv-build --print-libraries)
          {
            echo "deps_versions<<EOF"
            echo "$DEPS_VERSIONS"
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts.zip
          tag_name: ${{ steps.get_version.outputs.version }}
          name: Version ${{ steps.get_version.outputs.version }}
          body: |
            - Built automatically via GitHub Actions
            ${{ steps.get_dependencies_version.outputs.deps_versions }}
          draft: true
          prerelease: false
          generate_release_notes: true
